SECRET_KEY = # Coloque aqui uma chave secreta forte para a geração de tokens JWT

PG_USER = # Coloque aqui o nome do usuário do PostgreSQL
PG_PASSWORD = # Coloque aqui a senha do usuário do PostgreSQL
PG_DB = # Coloque aqui o nome da base de dados do PostgreSQL

PG_ADMIN_EMAIL = # Coloque aqui o email do administrador
PG_ADMIN_PASSWORD = # Coloque aqui a senha do administrador