SECRET_KEY= # Coloque aqui uma chave secreta forte para a geração de tokens JWT

PG_HOST= # Coloque aqui o host do PostgreSQL (ex: db)
PG_PORT= # Coloque aqui a porta do PostgreSQL (ex: 5432)
PG_USER= # Coloque aqui o nome do usuário do PostgreSQL
PG_PASSWORD= # Coloque aqui a senha do usuário do PostgreSQL
PG_DB= # Coloque aqui o nome da banco de dados do PostgreSQL

# Configurações do Admin Inicial
ADMIN_NAME= # Coloque aqui o nome do usuário administrador
ADMIN_EMAIL= # Coloque aqui o email do usuário administrador
ADMIN_PASSWORD= # Coloque aqui a senha do usuário administrador

# Configurações de E-mail (Exemplo para Gmail)
MAIL_HOST= # Coloque o servidor SMTP (ex: smtp.gmail.com)
MAIL_PORT= # Coloque a porta SMTP (ex: 587)
MAIL_USER= # Coloque o e-mail completo que fará os disparos (um email que exista)
MAIL_PASS= # ATENÇÃO: Não use sua senha normal. Gere uma "Senha de App" de 16 letras no Google. Vá na sua Conta Google > Segurança > Verificação em Duas Etapas > Senhas de App.

FRONTEND_URL= # Coloque o endereço onde o React roda para gerar o link no e-mail (ex: http://localhost)